<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
    <div class="container">
        <img src="https://vignette.wikia.nocookie.net/logopedia/images/b/b1/Rick_and_Morty.svg/revision/latest?cb=20180522080112" alt="Descripción de la imagen" class="img-fluid" style="max-width: 10em;">
        <p>2º CFGS DAW. IES Los Alcores. Mairena del Alcor (Sevilla)<br>
        &copy; 2024 Proyecto Ricky Morty. Todos los derechos reservados.</p>
        <a href="#" class="text-white">Política de privacidad</a> | 
        <a href="#" class="text-white">Términos de servicio</a>
    </div>
</footer>