<header class="cabecera">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="menu container-fluid">
      <!-- Imagen de cabecera -->
      <a class="navbar-brand" href="#">
        <img class="d-inline-block align-text-top logo"
          src="https://vignette.wikia.nocookie.net/logopedia/images/b/b1/Rick_and_Morty.svg/revision/latest?cb=20180522080112" />
      </a>

      <!-- Boton "hamburguesa" que se activa en dispositivos móviles -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              La API
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Characters</a></li>
              <li><a class="dropdown-item" href="#">Locations</a></li>
              <li><a class="dropdown-item" href="#">Episodes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A cerca de Ricky Morty</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>